/* body {
    background: #f7f1e3;
}

.dashboard-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: #f7f1e3;
    max-width: 100%;
} 

.items {
    display: flex;
        flex-wrap: wrap; 
         flex-direction: row; 
    flex: 1 0 25%; 
    background-color: #f7f1e3;
    margin: .5em;
} 

.drinks {
    background: #359aff !important;
    color: white !important;
}

.burger {
    background: #3caa3c !important;
    color: white !important;
}

.chicken {
    background: #20b8bd !important;
    color: white !important;
}

.chicken2 {
    background: #bb214b !important;
    color: white !important;
}

.ice-cream {
    background: #19467f !important;
    color: white !important;
}

.hot-dog {
    background: #dcb016 !important;
    color: white !important;
}

.chees {
    background: #696969 !important;
    color: white !important;
}

.pasta {
    background: #dcb016 !important;
    color: white !important;
}

.dashboard-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0px;
} 


.dashboard-main-wrapper{
    margin-top: 90px;
    margin-left: 80px;

}


.product-image {
    width: 50px;
    height: 50px;
    margin: auto;
    margin-bottom: 8px;
}

.button-size-icon {
    width: 120px;
    height: 120px;
    margin: 20px 0;
    border: none;
    box-shadow: 0px 5px 5px #bab6ab;
}

.menu-options {
    display: grid;
    font-size: 15px
}

.black {
    color: black;
}

.white {
    color: white;
}

.dashboard-billing {
    margin-left: 15vw;
}

.content {
    margin: 60px 0 0 0;
}

@media (max-width:320px) {
    .dashboard-main-wrapper {
        text-align: center;
    }
    .content {
        margin-left: 10%;
        width: 100%;
    }
    .button-size-icon {
        margin: 8px auto;
    }
    .dashboard-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0;
    }
    .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row;
        flex: 1 0 50%;
        padding-left: 10px;
    }
}

@media (max-width:414px) {
    .dashboard-main-wrapper {
        text-align: center;
    }
    .content {
        width: 100%;
    }
    .dashboard-flex {
        width: 180%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row;
        flex: 1 0 50%;
        padding-left: 10px;
    }
}

@media (max-width:768px) {
    .content {
        left: 0;
        margin: 0 !important; 
               width: 100%;
        margin-left: 1%; 
    }
    .dashboard-main-wrapper {
        text-align: center;
    }
    .dashboard-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .items {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
        flex: 1 0 34%;
    }
} 


@media (max-width:1024px){
    .dashboard-main-wrapper{
          text-align: center;
    }
    .content{
width: 100%;
        margin-left:3%;
    }
    .dashboard-flex{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        }
    .items{
        text-align: center;
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-around;
        flex-direction: row;
        flex: 1 0 25%;
       
    }
}



*{
    border: 1px solid red;
}
  */