/*.invert-c{
	filter: brightness(0) invert(1);
}*/

.ant-row:before,
.ant-row:after {
    content: none !important;
}

.dashboard-flex:after {
    content: "";
    flex: auto;
}

/* .items{
display: flex;
flex-flow: row wrap;
justify-content: space-between;
flex: 1 0 25%; 
} */